{{ define "main" }}
    <button class="btn btn-primary">button</button>
    <div class="btn btn-success">ss</div>
    <button class="btn btn-danger shadow-lg rounded-circle ">satish</button>
    <input type="text" value="enter your email" class="form-control mt-3  shadow-lg border-top border-danger rounded-pill">
<div class="card shadow border border-2 border-danger p-3 mt-2">
    <img src="/pp.jpg" alt="" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">mmmm</h5>
        <p class="card-text">nnnn</p>
        <a href="mailto:sy4529630@gmail.com" class="btn btn-dark">nnn</a>
        <!-- <img src="/pp.jpg" alt="" class="img-fluid"> -->
    </div>
</div>
    {{ end }}